* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif
}

.gradient {
  background: linear-gradient(to right, #3A4256, #11CEE6);
}

.bg {
  background: white;
}

.margin-top {
  margin-top: 87px;
}

.margin-top1 {
  margin-top: 65px;
}

.display {
  display: none !important;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #111; 
  border: 5px solid transparent;
  border-radius: 9px;
  -webkit-background-clip: content-box;
}