.navbar.active {
  transition: .2s ease-in-out;
  box-shadow: 0 0 13px 3px hsl(0deg 0% 62% / 41%);
  /* background-image: linear-gradient(to right, rgba(105, 107, 128, 0.3), rgba(7, 7, 7, 0.3)); */
  background: #11CEE6;
}

.navbar-logo,
.item {
  color: black;
}

.navbar.active .navbar-logo,
.navbar.navbar.active .item {
  color: white !important;
}

.btn-n {
  transition: 0.3s;
  border: 1 px blue;
}


/* .btn:hover {
  background-color: #1a77c8;
  color: white;
} */

.main {
  margin-top: 4em;
}

.techsection {
  width: 100%;
  text-align: center;
  background-color: var(--clr-bg);
  height: 50vh;
  /* max-height: 400px; */
}

.techsection>div {
  width: 11%;
  height: 16vh;
  max-height: 140px;
  box-shadow: var(--shadow);
  z-index: 1;
  border-radius: 20px;
  margin: 2.5%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
  border: 2px solid var(--clr-primary);
}

.techsection>div:hover {
  background-color: var(--clr-bg);
  overflow: hidden;
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 1px solid var(--clr-primary);
}