.gradient {
    background: linear-gradient(to right, #3A4256, #11CEE6);
}

.bg {
    background: white;
}

.margin-top {
    margin-top: 87px;
}

.margin-top1 {
    margin-top: 65px;
}

.display {
    display: none !important;
}